@using Stimulsoft.Report.Mvc

@{
    ViewData["Title"] = "Print";
}

@foreach (var item in ViewBag.Years)
{
    <a type="button" class="btn btn-primary" href="#">@item</a>
}


@Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
{
    Actions =
    {
        GetReport = "Print",
        ViewerEvent = "ViewerEvent"
    }
})